# Import necessary libraries

In [7]:
import pandas as pd
import numpy as np
from fbprophet import Prophet

# Read in the data

Read the data in from the retail sales CSV file in the examples folder then set the index to the 'date' column. We are also parsing dates in the data file.

In [25]:
sales_df = pd.read_csv('../examples/retail_sales.csv', index_col='date', parse_dates=True)

In [23]:
sales_df.head()

             sales
date
2009-10-01  338630
2009-11-01  339386
2009-12-01  400264
2010-01-01  314640
2010-02-01  311022

For prophet to work, we need to change the names of these columns to 'ds' and 'y', so lets just create a new dataframe and keep our old one handy (you'll see why later). The new dataframe will initially be created with an integer index so we can rename the columns

In [26]:
df = sales_df.reset_index()

In [27]:
df.head()

        date   sales
0 2009-10-01  338630
1 2009-11-01  339386
2 2009-12-01  400264
3 2010-01-01  314640
4 2010-02-01  311022

Now, let's rename the columns as required by fbprophet. Additioinally, fbprophet doesn't like the index to be a datetime...it wants to see 'ds' as a non-index column, so we won't set an index differnetly than the integer index.

In [29]:
df=df.rename(columns={'date':'ds', 'sales':'y'})

In [30]:
df.head()

          ds       y
0 2009-10-01  338630
1 2009-11-01  339386
2 2009-12-01  400264
3 2010-01-01  314640
4 2010-02-01  311022